:root {
    /*Palette*/
    --0: rgba(10,10,10);
    --1: rgba(25,25,25);
    
    --2: #118ba7;  /* Darker Cyan (Secondary) */
    --3: #f0f8ff;  /* Very light Cyan (Accent/Background) */
    --4: #ffffff;  /* White (Text/Background) */
    --5: #2c3e50;  /* Dark Gray (Text and borders) */

    --P-1: rgba(113, 31, 195, 1);
    
    --gradient: 
        linear-gradient(90deg, 
        rgba(50, 50, 50, 0.5), 
        rgba(100, 100, 100, 0.5), 
        rgba(50, 50, 50, 0.5));
    
 /* Nav Bar */

--bar-color: rgba(30, 30, 30, .5);

    /* Buttons Hover */
--Hover-text: var(--p-1);
--Hover-border: var(--4);
--Hover-fill: rgba(10, 10, 10,.2);   
    
    /* Buttons Active */
--Active-text: var(--3); 
--Active-border: var(--2);
--Active-fill: rgba(10, 10, 10, .2);
  

}