
  
  .container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.25rem;
    transition: all 1s;
    margin: auto 0;
  }
  
  .card {
    position: relative;
    flex: 1;
    height: 90dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
    background: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    overflow: hidden; /* Prevents content from overflowing */
  }
  
  .card img {
    position: absolute;
    height:100%;
    background: no-repeat;
    background-size: cover;
    transition: .5s; 
  }
  
  .card img:hover {
    transform: scale(110%) rotate(5deg); transition: 1s; 
  }
  
  
  .container:hover > .card:not(:hover) {
    filter: grayscale(100%);
  }
  
  .card:hover {
    position: relative;
    filter: grayscale(0);
    flex: 4;
  }
  
  span {
    position: absolute; /* Keeps it positioned relative to the card */
    pointer-events: none; /* Disables interactions */
    
    top: 50%; /* Centers the text vertically */
    left: 7%; /* Centers the text horizontally */
    
    text-align: center;
    color: white;
    mix-blend-mode: overlay;
    
    white-space: nowrap; /* Prevents wrapping */
    
    line-height: normal; /* Allows normal line spacing */
    overflow: hidden; /* Prevents content overflow */
    text-overflow: ellipsis; /* Adds ellipsis for long text */
    
    transform: translate(-50%, -50%) rotate(90deg); /* Ensures the rotation and centering */
    font-size: 2rem;
    opacity: .1;
    transition: 1s;
  }
  
  
  .card:hover > span {
    opacity: .5;
    font-size: 5rem;
    
    left: 7%; /* Keep it vertically centered */
   
    transition: 1s;
  }
  /* 
  .card:nth-child(1) { background-image: url('https://picsum.photos/480/640?random=1'); }
  .card:nth-child(2) { background-image: url('https://picsum.photos/480/720?random=2'); }
  .card:nth-child(3) { background-image: url('https://picsum.photos/480/720?random=3'); }
  .card:nth-child(4) { background-image: url('https://picsum.photos/480/720?random=4'); }
  .card:nth-child(5) { background-image: url('https://picsum.photos/480/720?random=5'); }
   */