
.Section-1 {
  display: flex; /* Enable Flexbox */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
    
  text-align: center; /* Centers content inside the section */
  padding: 10rem 0;
  background-color: var(--1);
     /*background: radial-gradient(circle, var(--P-1), transparent);*/
  border-radius: 50px; /* Rounded edges */
  width: 100%;
  margin: 20px auto; /* Centers the section and adds gap */
  box-sizing: border-box;
  color: white;
}

/* Styles for the title */
.testtitle {
  margin-bottom: 20px; /* Adds space below the title */
}

.testtitle h1 {
  margin: 0; /* Removes default margin */
  font-size: 3rem; /* Adjusts title font size */
}

.testtitle p {
  font-size: 1.5rem; /* Adjusts subtext font size */
  margin: 10px 0 0; /* Adds spacing between title and subtext */
}

/* Gallery */ 

.gallery {
    

    border-radius: 30px;
    

    perspective: 1000px;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Default: 5 images per row */
    gap: 20px;
    padding: 5rem 20rem 0 20rem;
    width: 97%;
    max-width: 100%;
    margin: 0;
    
}
@media (max-width: 1920px) {
    .gallery {
      z-index: 100;
        grid-template-columns: repeat(4, 1fr); /* 3 images per row for tablets */
        padding: 3rem 15rem 0 15rem;
        /*background-color: #ff5b33;*/
    }
}

@media (max-width: 1024px) {
    .gallery {
      z-index: 100;
        width: 90%;
        grid-template-columns: repeat(3, 1fr); /* 3 images per row for tablets */
        padding: 2.5rem;
        /*background-color: green;*/
    }
}

@media (max-width: 768px) {
    .gallery {
        width: 90%;
        grid-template-columns: repeat(2, 1fr); /* 2 images per row for mobile devices */
        padding: 2rem;
        /*background-color: blue;*/
    }
}



.gallery img {
    /*box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);*/
    /*filter: blur(5px);*/
    width: 100%;
    background-size: cover;
    height: auto;inset: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform .5s ease-out; /* Smooth animation for rotation */
    transform-style: preserve-3d;
    will-change: transform; /* Optimizes performance for frequent transform updates */  
   

}




.gallery img:hover {
    transform: translateY(-5px) rotateY(5deg) rotateX(5deg) scale(1.1); 
    /*
    box-shadow: 0 0 50px rgba(0, 123, 255, 0.2), 
                0 0 20px rgba(0, 123, 255, 0.6);
                */
}


.fancybox__container {
    background-color: rgba(5, 5,5, 1);
}

.fancybox__content img {
    border-radius: 15px;
    background-color: transparent;
}
