.container {
  width: 100%;
  max-width: 720px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 2s;
  transition-delay: 1s;
}

.card {
  flex: 1;
  height: 100%;
  transition: all 400ms;
  cursor: pointer;
  filter: grayscale(100%);
  border-radius: 20px;
}

.card:nth-child(odd) {
  translate: 0 -20px;
}

.card:nth-child(even) {
  translate: 0 20px;
}

.container:hover > .card:not(:hover) {
  filter:  grayscale(100%) blur(5px);
  
}

.card:hover { filter: grayscale(0);
  flex: 15;
}

.card:nth-child(1) { background-image: url('https://picsum.photos/800/500?random=1'); }
.card:nth-child(2) { background-image: url('https://picsum.photos/800/500?random=2'); }
.card:nth-child(3) { background-image: url('https://picsum.photos/800/500?random=3'); }
.card:nth-child(4) { background-image: url('https://picsum.photos/800/500?random=4'); }
.card:nth-child(5) { background-image: url('https://picsum.photos/800/500?random=5'); }