@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
html {
  scroll-behavior: smooth;
}
*/

body, html {
  scroll-behavior: smooth;
  

  
  
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  
}
body {
   font-family: 'Allerta', sans-serif;
  background-color: var(--0);
}


/* General styles for sections */
section {
 scroll-snap-align: start;
  display: flex; /* Enable Flexbox */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
  text-align: left; /* Centers content inside the section */
    
  /*border: 1px solid rgba(100,100,100,.1);*/
  background-color: var(--1); /* Green background for sections */
  margin: 20px auto; /* Creates a gap between sections and centers them */
    height: 100dvh;
  padding: 5rem 5rem; /* Adds space inside the section */
    
  border-radius: 25px; /* Rounded edges for sections */
  width: 97%; /* 95% width of the viewport */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width */
  color: white; /* Optional: text color for readability */    
}

/* Scroll snap Sections */
.content {
  scroll-snap-align: start; /* Ensure sections snap to the start of the container */
}

.swiper-container {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
        & img {
          width:100%;
        }
      }






