.arts
  {
margin-top: 256px;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100dvh;
    text-align: center;
    overflow: hidden;
    padding: 10px;

    /* border: 1px solid red */
  }
/* ------------------------------*/

    swiper-container 
    {
      width: 100%;
      height: 55%;
    }

    swiper-slide 
      {


        text-align: center;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: center;  

        overflow: hidden;
        border-radius: 20px; 
        border: 1px solid rgba(128, 128, 128, 0.3);
      }

    swiper-slide img 
      {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .5s;
        /* opacity: 50%; */
      }

    swiper-slide img:hover 
      {
        transform: scale(105%) rotate(1deg); 
      }

    .section3-head 
      {
        width: 93%;
        display: flex;
        justify-content: space-between; /* Pushes items to opposite ends */
        align-items: center; /* Aligns items vertically in the center */
        padding: 10px; /* Optional: Adds some spacing around the content */
        gap: 50%

        /* border: 1px solid lime; */
      }

    .sect3-head 
      { 
        margin: 0; /* Removes default margin of h1 */
        font-size: 4rem; /* Adjusts font size as needed */
        font-family: var(--f1);
        font-weight: 1000;
        color: white;
      }

    .btn-10 
      {
        background-color: white;
        color: #222;
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 10px 20px; 
        font-size: 16px; 
        font-family: var(--f2);
        font-weight: 500;
        cursor: pointer; 
        transition: all .3s ease; 
    }

    .btn-10:hover 
      {
        background-color: var(--1); 
        border: 1px solid;
        color: #ffffff; 
      }

    @media (max-width: 768px) 
      {
        swiper-container 
          {
            height: 80%;
          }

        .section3-head 
          {
            flex-direction: column;
            /* border: 1px solid lime; */
          }
        .sect3-head 
          {
            font-size: 3rem;
          }
      }
