


  
/* _________________________________________________________________________ */

.wrk-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  overflow: hidden;

  /* border: 1px solid red; */
}

.wrk-bg
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrk-bg::after
{ 
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(to top, var(--0) 10%, transparent 30%),
  linear-gradient(to right, var(--0), transparent 10%),
  linear-gradient(to left, var(--0), transparent 10%);
  pointer-events: none;
  z-index: 1;
}

.wrk-bg-img
{
  width: 100%; 
  height: auto; 
  /* aspect-ratio: 21/3; */
  object-fit: cover;
  object-position: center;
}

.wrk-port
{
  position: absolute;
  margin-top: 15%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 2;

  /* border: 1px solid cyan; */
}


.wrk-head
  {
    position: ab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

/* border: 1px solid cadetblue; */
  }

.wrk-title
  {
  margin: 0;  
  text-align: left;
  font-size: 1.5rem; 
  font-family: var(--f1);
  font-weight: 1000;
  color: var(--1);
  }

.wrk-link
  {
    margin: 0; 
    text-align: right;
    font-size: 1rem; 
    font-family: var(--f3);
    font-weight: 200;
    color: var(--1);
padding: 5px 10px;
border: 2px solid rgba(84, 44, 219,0);
    border-radius: 10px;

    transition: 1s ease;
  }

  .wrk-link:hover
  {
    
    transform: translateX(-10%);
    border: 2px solid rgba(84, 44, 219,1);
  }


.wrk-grid
  {   
    margin-top: 3%;
    gap: 10px;
    width: 100%;
    height: auto; 
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    transition: all 1s;

    /* border: 1px solid green; */

  }





  

    