:root {
    /*Palette*/
    --color-0: rgba(25,25,25);
    --color-1: rgba(30,30,30);
    
    --color-2: #118ba7;  /* Darker Cyan (Secondary) */
    --color-3: #f0f8ff;  /* Very light Cyan (Accent/Background) */
    --color-4: #ffffff;  /* White (Text/Background) */
    --color-5: #2c3e50;  /* Dark Gray (Text and borders) */

    --P-1: rgba(113, 31, 195, 1);
    
    --gradient: 
        linear-gradient(90deg, 
        rgba(50, 50, 50, 0.5), 
        rgba(100, 100, 100, 0.5), 
        rgba(50, 50, 50, 0.5));
    
 /* Nav Bar */

--bar-color: rgba(30, 30, 30, .5);
    
    
    
    
--ba-text: var(--color-3);
--ba-border: var(--color-2);
--ba-fill: rgba(10, 10, 10, .2);
  
--bh-text: var(--color-4);
--bh-border: var(--color-4);
--bh-fill: rgba(10, 10, 10,.2);
}