
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
html {
  scroll-behavior: smooth;
}
*/

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
  
}
body {
  background-color: var(--color-0);
}

