
    .sct-banner{
       /* border: 1px solid cyan; */
       width: 100%;
       height: auto;
        margin: 0 auto;
        overflow: hidden;
    }

    .sct-head 
  {
    display: block;
    font-size: 2rem;
    font-family: var(--f3);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--1);

  }


    .sct-highlight
  {
    display: block;
    text-align: center;
    color: var(--3);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .sct-frame
    {
        position: relative;
        display: flex;
        
        width: 100%;
        height: 420px;
        /* border: 1px solid rgb(255, 15, 235); */
        object-fit: cover;
        overflow: hidden;

        align-items: center;
    }

.sct-frame::before
  {
      content: "";
      position: absolute;
      inset: 0;
      background: 
      linear-gradient(2deg, 
      var(--0) 15%, 
      transparent 15.5%, 
      transparent 85%, 
      var(--0) 85.5%);
      z-index: 1;
      pointer-events: none; /* allows clicks through the overlay */
   
  }

  .frame-depth
  {
    width: 100%;
  }

  .frame-img
  { 
    object-fit: cover;
    width: 100%;
    height: auto;
  }
