 /* Flexbox container for two columns */
 .personal 
    {    
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
 
        /* border: 5px solid white; */
    }

/* -----------------------------  Column 1: Profile Image ---------- */
.profile-image 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
        position:fixed;
        height: 95%;
        width: 35%;
        overflow: hidden;
        top: 2.5%;
        border-radius: 0 25px  25px 0;
        border-right: 2px solid var(--3);
        object-fit: cover;
        
        background: linear-gradient(45deg ,#030303 40px, #1f002e );

      

    }


.P-image 
    {
        
        /* transform: translateX(-50px); */
        height: 100%;
        /* filter: grayscale(1); */
    }


.MyName 
    {
        position: absolute;
        bottom: 60px;
        left: 50px;
        z-index: 1;
    }

.name, .industry 
    {
        pointer-events: none;

    }

.name 
    {
        text-transform: uppercase;

        color: white;
        font-family: var(--f1);
        font-size: 1rem;
    }

.industry 
    {
        text-transform: uppercase;

        color: white;
        font-family: var(--f1);
        font-size: 2rem;
        font-weight: 1000;
        /* margin: 10px 0; */
    }



/* ----------------------------- Column 2: About Me ---------- */

.about-me 
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 50px;
        width: 65%;

        right: 0;
        /* height: 100vh; */
        z-index: 1;
        box-sizing: border-box;

        /* background-color: var(--4); */
    }



.abt-sct
    {
        margin-top: 100px;
   



        font-size: 1.2rem;
        font-weight: 200;   
        color: var(--1);
    }

.h1 {
    font-size: 1.6rem;
    font-weight: 700;   
}

.Summary 
    { 
    
        display: block; 
        
    }

.Skills 
    {
        margin-top: 20px;
        position: relative;
        display: flex;
      
        gap: 20px;
        padding-left: 50px;
        justify-content: center;
        align-items: start;

        /* border: 1px solid   lime; */
    }

.skl-card 
    {
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0;
        border-radius: 10px;
        /* font-size: 1rem; */
        /* border: 1px solid   lime; */
    }

    li.skl-blt::marker {
        color: var(--3); 
        font-size: 1.5em; 
      }


.Specializations 
    {
        margin-top: 20px;
        padding-top: 20px;

        display: flex;
        flex-wrap: wrap;
        gap: 70px;

        /* justify-content: flex-start; */
        
        /* border: 1px solid lime; */
    }

.spc-card
    {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        align-items: flex-start;
        width: 256px;
        height: 400px;
        border-radius: 20px;
        border: 1px solid var(--3);
    }

.scp-icn
    {
        margin: 20px 0;
    width: 80px;

    /* border: 1px solid red; */
    }

.spc-card p 
    {
        font-size: 1rem;
        /* border: 1px solid yellow; */
    }



.Projects
    {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* gap: 70px; */
    }

.prj-card
    {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        align-items: flex-start;
    }

    #prj-top
    {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .prj-colored 
    {
        color: var(--3);
        font-weight: 700;
    }

    li.prj-blt::marker {
        color: var(--3); 
        font-size: 1.5em; 
      }

    .prj-blt 
    {
       
            text-indent: -40px;
            padding-left: 50px;
        
    }





/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

/* .article-title { margin-bottom: 50px; } */

li.timeline-item::marker {
    content: "";
  }


.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 1rem;
  margin-left: 45px;

  /* border: 1px solid lime; */
}

.timeline-item { position: relative; margin-top: 50px;}

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span 
{
    /* margin-left: 20px; */
    color: var(--3);
    font-weight: 400;
    line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 100px);
  background: var(--3);

  transform: translateY(40px);


}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--3);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--3);
}

.timeline-text {
    margin-top: 5px;
  color: var(--1);
  font-weight: 300;
  line-height: 1.6;
}

.blt-text {
    margin-left: 20px;
}

#inspace {
    margin-left: 50px;

}






/* @MOBILE ----------- >>>>  */

@media (max-width: 1280px) 
{
    .profile-image
    {
        display: none;
    }

    .about-me 
    {
        padding: 5%;
        width: 100%;
    }

    .Skills
    {
      flex-direction: column;
    }

}