

/* ----------------------------------------------------- Header Type | Cover -- */ 

.HERO 
  {
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    height: 100dvh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 



    overflow: hidden; 
    border-bottom: 2px solid var(--3);
    border-radius: 0 0 25px 25px;
    z-index: 10;
    /* background-color: red; */
    
  }

  @media (max-width: 768px) {
    .HERO {
      /* width: 100%; */
      /* height: 80vh; */
    }

  }

/* ----------------------------------------------------------------------------------------------- */

.Image-Container 
  {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1; 
    
    /* border: 1px solid blue; */
  }

.Profile
  {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  
  }

.Hero-Image
  {

    width: 100%;
    height: 100%;
    object-fit: cover  ;
  }

  @media (max-width: 768px) {
    .Profile {
      transform:   translateX(30%);
    }

  }





.placeleft
  {
    left: 0;
  }
.placeright
  {
    right: 0;
    /* transform: translateX(-30%);  */
  }
.flip
  {
    transform:  scaleX(-1); 
  }



.Hero-text
  {
    /* max-width: 30%; */
    position: absolute;
    bottom: 20%;
    left: 10%;
     text-shadow: 0 0 40px rgba(0,0,0,1);
    margin: 0;
    padding: 0;

    pointer-events: none;
  }

  @media (max-width: 768px) {
    .Hero-text {
      bottom: 10%;
      left: 5%;
    }

  }
/* ------------------------------------- TOP BAR ---------------------------------------------------------- */

  .hero-top-bar
  {
    top: 30px;
    width: 82%;
    height: 35px;
    position: absolute;
    display: flex;
    /* border: 1px solid lime; */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  }
  
  .hero-top-bar .Hero-logo {
    width: auto;
    height: 35px;
  }
  









/* ----------------------------------------------------- Header Type  |  Banner -- */  

  .banner {
    height: 60vh;
    height: 60dvh; 
  }



  /* ................................ */

  .Cover {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;

    /* border: 1px solid lime; */
  }

  .fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--0), transparent);w
    pointer-events: none;
    z-index: 1;
  }

  #cover-image {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit:cover;
    
  }




  /* ----------------------    @MOBILE -------- >  */

  @media (max-width: 720px) 
  {
    .Hero-Image
    {
      left: 0;
      /* border: 1px solid rgb(0, 255, 42); */
    }

    .hero-banner 
    {
      top: 50px;
      height: 60px;
    }

    .Hero-name 
    {
      top: 70%;
      font-size: 1.3rem;
     
    }

    .Hero-head 
    {
      font-size: 2rem;
    }

    .Hero-subhead 
    {
      /* display: none; */
      font-size: 1rem; 
    }

  }